---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getOffres } from "../js/backend.mjs";
const offres = await getOffres();
---

<Layout titre="Offres">
    <h1>Offres</h1>
    <button
        id="favori-button"
        class="bg-fuchsia-100 rounded-lg text-black p-2 border border-black mb-4 mt-4"
        >Afficher les favoris</button
    >
    <div>
        {
            offres.map((offre) => (
                <div
                    class="offre"
                    data-favori={offre.favori ? "true" : "false"}
                >
                    <Card nom_maison={offre.nom_maison} imgUrl={offre.Image} />
                </div>
            ))
        }
    </div>
</Layout>

<script>
    //@ts-nocheck
    const button = document.getElementById("favori-button");
    let showOnlyFavorites = false;

    button?.addEventListener("click", () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll(".offre");

        offres.forEach((offre) => {
            const isFavori = offre.dataset.favori === "true";

            if (showOnlyFavorites) {
                offre.style.display = isFavori ? "block" : "none";
                button.textContent = "Afficher tout";
            } else {
                offre.style.display = "block";
                button.textContent = "Afficher les favoris";
            }

            if (offre.dataset.favori === "true") {
                offre.classList.add("bg-green-300");
            } else {
                offre.classList.add("bg-white");
            }
        });
    });
</script>
